# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Organise open-source Data Science tools into a table
- Provide examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools| 
| -------------| 
| MySQL | 
| PostgreSQL| 
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [31]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [33]:
200/60

3.3333333333333335

## Author
Freesia Gaul